 <div id="map" style="width: 100%; height: 400px; background: grey" />

<input id="happy_mood" type="radio" name="mood_changer" value="happy" ng-model="mood"><label for="happy_mood">Happy</label>
<input id="sad_mood" type="radio" name="mood_changer" value="sad" ng-model="mood"><label for="sad_mood">Sad</label>
<input id="angry_mood" type="radio" name="mood_changer" value="angry" ng-model="mood"><label for="angry_mood">Angry</label>
<input id="bored_mood" type="radio" name="mood_changer" value="bored" ng-model="mood"><label for="bored_mood">Bored</label>
<input id="crazy_mood" type="radio" name="mood_changer" value="crazy" ng-model="mood"><label for="crazy_mood">Crazy</label>
<input id="fearful_mood" type="radio" name="mood_changer" value="fearful" ng-model="mood"><label for="fearful_mood">Fearful</label>
